body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
 
 
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
 
 
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }

nav li {
    background-color: aquamarine;
    border: 5px solid darkgray;
    border-radius: 30%;
    display: inline-block;
    padding: 20px;
    margin: 20px;
 }

 img {
    width: 24%;
    padding: 16 px;
    margin: 0;
    border: 15px dashed navy;
    box-sizing: border-box;
 }

 p{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 15px;
 }