body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
 
 
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
 
 
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }
 
 nav li {
    background-color: lightblue;
    border: 5px black;
    border-radius: 30%;
    display: inline-block;
    padding: 20px;
    margin: 20px;
 }

 img {
    width: 24%;
    padding: 12px;
    border: 15px;
    border-style: dashed;
    box-sizing: border-box;

 }

 p {
    color: red;
    margin: 15px;
    text-indent: 5px;
    text-transform: uppercase;
 }